on init
# set default schedTune value for foreground/top-app (only affects EAS)
	write /dev/stune/foreground/schedtune.prefer_idle 1
	write /dev/stune/top-app/schedtune.prefer_idle 1
	write /dev/stune/top-app/schedtune.boost 10

on late-fs
# boot time fs tune
	write /sys/block/sda/queue/iostats 0
	write /sys/block/sda/queue/scheduler cfq
	write /sys/block/sda/queue/iosched/slice_idle 0
	write /sys/block/sda/queue/read_ahead_kb 2048
	write /sys/block/sda/queue/nr_requests 256
	write /sys/block/sde/queue/iostats 0
	write /sys/block/sde/queue/scheduler cfq
	write /sys/block/sde/queue/iosched/slice_idle 0
	write /sys/block/sde/queue/read_ahead_kb 2048
	write /sys/block/sde/queue/nr_requests 256 

on boot
	exec u:r:magisk:s0 root root -- /alucard/init.alucard.sh
	# Bind mount modules and custom system blobs
	mount auto /alucard/WCNSS_qcom_cfg.ini /vendor/etc/wifi/WCNSS_qcom_cfg.ini bind
	mount auto /alucard/perfboostsconfig.xml /vendor/etc/perf/perfboostsconfig.xml bind
	mount auto /alucard/msm_irqbalance.conf /vendor/etc/msm_irqbalance.conf bind
	mount auto /alucard/powerhint.xml /vendor/etc/powerhint.xml bind
	mount auto /alucard/modules/br_netfilter.ko /system/lib/modules/br_netfilter.ko bind
	mount auto /alucard/modules/mpq-adapter.ko /system/lib/modules/mpq-adapter.ko bind
	mount auto /alucard/modules/mpq-dmx-hw-plugin.ko /system/lib/modules/mpq-dmx-hw-plugin.ko bind
	mount auto /alucard/modules/rdbg.ko /system/lib/modules/rdbg.ko bind
	mount auto /alucard/modules/tspp.ko /system/lib/modules/tspp.ko bind
	mount auto /alucard/modules/msm_11ad_proxy.ko /system/lib/modules/msm_11ad_proxy.ko bind
	mount auto /alucard/modules/msm_11ad_proxy.ko /vendor/lib/modules/msm_11ad_proxy.ko bind
	mount auto /alucard/modules/wil6210.ko /system/lib/modules/wil6210.ko bind
	mount auto /alucard/modules/wil6210.ko /vendor/lib/modules/wil6210.ko bind
	mount auto /alucard/modules/wlan.ko /system/lib/modules/qca_cld3_wlan.ko bind
	mount auto /alucard/modules/wlan.ko /vendor/lib/modules/qca_cld3_wlan.ko bind

# update cpusets now that processors are up
	write /dev/cpuset/top-app/cpus 0-7
	write /dev/cpuset/foreground/cpus 0-7
	write /dev/cpuset/foreground/boost/cpus 0-7
	write /dev/cpuset/background/cpus 0-7
	write /dev/cpuset/system-background/cpus 0-7
# set default schedTune value for foreground/top-app (only affects EAS)
	write /dev/stune/foreground/schedtune.prefer_idle 1
	write /dev/stune/top-app/schedtune.prefer_idle 1
	write /dev/stune/top-app/schedtune.boost 1
	write /dev/stune/top-app/schedtune.sched_boost 0

on property:sys.post_boot.parsed=1
# Adjust LMK Values
	write /sys/module/lowmemorykiller/parameters/minfree "18432,23040,27648,32256,55296,80640"

# Disable thermal bcl hotplug to switch governor
	write /sys/module/msm_thermal/core_control/enabled 0

# Online CPU4
	write /sys/devices/system/cpu/cpu4/online 1

# configure governor settings for little cluster
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedalucard"
	write /sys/devices/system/cpu/cpu0/cpufreq/schedalucard/iowait_boost_enable 1
	write /sys/devices/system/cpu/cpu0/cpufreq/schedalucard/up_rate_limit_us "500:500:500:500:500:500:500:500:500:500:500:500:500:500:500:500:500:500:500:500:500:500"
	write /sys/devices/system/cpu/cpu0/cpufreq/schedalucard/down_rate_limit_us "1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000"

# configure governor settings for big cluster
	write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "schedalucard"
	write /sys/devices/system/cpu/cpu4/cpufreq/schedalucard/iowait_boost_enable 1
	write /sys/devices/system/cpu/cpu4/cpufreq/schedalucard/up_rate_limit_us "1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:500000:1000"
	write /sys/devices/system/cpu/cpu4/cpufreq/schedalucard/down_rate_limit_us "1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000:1000"

# Enable thermal bcl hotplug to switch governor
	write /sys/module/msm_thermal/core_control/enabled 1

# Enable input boost configuration
	write /sys/module/cpu_boost/parameters/input_boost_freq "0:1036800 4:806400"
	write /sys/module/cpu_boost/parameters/dynamic_stune_boost 0
	write /sys/module/cpu_boost/parameters/input_boost_ms 0
	write /sys/module/cpu_boost/parameters/input_boost_off_ms 0
	write /sys/module/cpu_boost/parameters/input_boost_enabled 0

# update cpusets now that boot is complete and we want better load balancing
	write /dev/cpuset/top-app/cpus 0-7
	write /dev/cpuset/foreground/boost/cpus 0-3,6-7
	write /dev/cpuset/foreground/cpus 0-3,6-7
	write /dev/cpuset/background/cpus 0-1
	write /dev/cpuset/system-background/cpus 0-3

# end boot time fs tune
	write /sys/block/sda/queue/read_ahead_kb 1024
	write /sys/block/sda/queue/nr_requests 128
	write /sys/block/sda/queue/iostats 1
	write /sys/block/sde/queue/read_ahead_kb 512
	write /sys/block/sde/queue/nr_requests 128
	write /sys/block/sde/queue/iostats 1

# Toggle Sched Features
	write /sys/kernel/debug/sched_features "NO_FBT_STRICT_ORDER"

# MISC
	chown system system /sys/devices/platform/kcal_ctrl.0/kcal
	chown system system /sys/devices/platform/kcal_ctrl.0/kcal_cont
	chown system system /sys/devices/platform/kcal_ctrl.0/kcal_hue
	chown system system /sys/devices/platform/kcal_ctrl.0/kcal_sat
	chown system system /sys/devices/platform/kcal_ctrl.0/kcal_val

	chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
	chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
	chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
	chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
	chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
	chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor

	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
	write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 300000

on property:sys.boot_completed=1
	exec u:r:init:s0 -- /init.special_power.sh
	exec u:r:su:s0 root root -- /init.special_power.sh
	exec u:r:supersu:s0 root root -- /init.special_power.sh
